.biim-contents {
    margin: 0;
    padding: 5px;
    background-color: #000;
}

.biim-contents .biim-main {
    margin: 0;
    padding: 5px;
    padding-top: 0;
    padding-left: 0;
    float: left;
}

.biim-contents .biim-window {
    margin: 0;
    padding: 5px;
    display: block;
    background-color: #000;
    color: #FFF;
    border: solid 4px #FFF;
    border-radius: 10px;
    text-align: left;
    overflow: hidden;
}
